## Load in the data from Google Cloud Storage

In [16]:
import pandas as pd
import os
import pandas_profiling
DATA_BUCKET = 'gs://lending_club_toy_datasets/lending_club_data_v1.csv'
#df = pd.read_csv(DATA_BUCKET, dtype=str)
df = pd.read_csv(DATA_BUCKET)

In [17]:
df.columns.tolist()
len(df.query('is_bad == 1'))

1295

## Basic dataset info

In [18]:
print("Number of rows of data:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows of data: 10000
Number of columns: 28

In [19]:
df.head(5)

,Id,is_bad,emp_title,emp_length,home_ownership,annual_inc,verification_status,pymnt_plan,Notes,purpose_cat,...,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code
0,1,0,Time Warner Cable,10,MORTGAGE,50000.0,not verified,n,NaN,medical,...,NaN,15.0,0.0,12087,12.1,44.0,f,0.0,1,PC4
1,2,0,Ottawa University,1,RENT,39216.0,not verified,n,Borrower added on 04/14/11 > I will be using...,debt consolidation,...,NaN,4.0,0.0,10114,64.0,5.0,f,0.0,2,PC1
2,3,0,Kennedy Wilson,4,RENT,65000.0,not verified,n,NaN,credit card,...,NaN,4.0,0.0,81,0.6,8.0,f,0.0,3,PC4
3,4,0,TOWN OF PLATTEKILL,10,MORTGAGE,57500.0,not verified,n,NaN,debt consolidation,...,NaN,6.0,0.0,10030,37.1,23.0,f,0.0,2,PC2
4,5,0,Belmont Correctional,10,MORTGAGE,50004.0,VERIFIED - income,n,"I want to consolidate my debt, pay for a vacat...",debt consolidation,...,NaN,8.0,0.0,10740,40.4,21.0,f,0.0,3,PC3

## Dataset schema

In [20]:
# Create a raw profile report
profile_file = './ls_profile_report_raw.html'

override = False
if not os.path.exists(profile_file) or override:    
    profile = df.profile_report(title='Raw Lending Club Data Profile Report')
    profile.to_file(output_file=profile_file)

HBox(children=(FloatProgress(value=0.0, description='variables', max=28.0, style=ProgressStyle(description_widâ€¦

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_wâ€¦

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=121.0, style=ProgressStylâ€¦

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='iâ€¦

HBox(children=(FloatProgress(value=0.0, description='missing', max=4.0, style=ProgressStyle(description_width=â€¦

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_widthâ€¦

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=â€¦

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(desâ€¦

In [88]:
# See what columns pandas assumed were numerical data
list(df._get_numeric_data().columns)

['Id',
 'is_bad',
 'annual_inc',
 'debt_to_income',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog']

In [89]:
df.inq_last_6mths.unique()

array([ 0.,  2.,  4.,  1.,  3.,  6.,  8.,  5.,  7., 16.,  9., 18., 10.,
       nan, 25., 11., 17., 15., 24., 14., 12.])

In [90]:
# Now take what is left as categorical
list(set(df.columns) - set(df._get_numeric_data().columns))

['zip_code',
 'earliest_cr_line',
 'home_ownership',
 'verification_status',
 'addr_state',
 'purpose',
 'policy_code',
 'emp_title',
 'emp_length',
 'initial_list_status',
 'Notes',
 'purpose_cat',
 'pymnt_plan']

In [91]:
# Target column (needs to be categorical)
df['is_bad'] = df.is_bad.astype(str)

# Columns to drop
to_drop = ['Id']  # Not needed since it's likely the id from a DB or another pandas df
df.drop(to_drop, axis=1, inplace=True)

In [92]:
# Now list out the final numerical and categorical columns
num_cols = list(df._get_numeric_data().columns)
cat_cols = list(set(df.columns) - set(df._get_numeric_data().columns))

print("Categorial Columns:", cat_cols)
print()
print("Numerical Columns:", num_cols)

Categorial Columns: ['zip_code', 'earliest_cr_line', 'home_ownership', 'verification_status', 'addr_state', 'purpose', 'policy_code', 'emp_title', 'is_bad', 'emp_length', 'initial_list_status', 'Notes', 'purpose_cat', 'pymnt_plan']

Numerical Columns: ['annual_inc', 'debt_to_income', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'collections_12_mths_ex_med', 'mths_since_last_major_derog']

In [93]:
# Check the lengths of the columns to ensure you didn't miss any
len(cat_cols + num_cols)

27

## Save off the data for the EDA

In [94]:
# Want to conserve the schema information from above
df.to_pickle("./data/ingest_data.pkl")

In [95]:
# Save CSV for quick reference in the notebook
df.to_csv("./data/ingest_data.csv", index=False)